TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=lM0csJmmRWcgTKfP7_Brh80CJxVojh98
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=admin123
DB_PASSWORD=admin123
DB_DATABASE=melomania
ADMIN_EMAIL=admin@admin.admin
ADMIN_PASSWORD=admin
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=local
SMTP_PASSWORD=local
URL=http://localhost:3333
LIMITER_STORE=database